<div id="cards">
  <div class="container">


    {{!-- begin demo cards --}}
    <div class="demo">
      <header class="demo__header"></header>
      <div class="demo__content">
        <div class="demo__card-cont">

{{!--  --}}
          <div class="demo__card">
            <div class="demo__card__top lime">
              <div class="card-icon">
                {{!-- <img src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/16995J5R00I431Wzj0UfmgVqVPS.jpg" class="card" alt="army tank"> --}}
                <img src="/img/testImg5.jpg" class="card" alt="army tank">
              </div>
              <p class="genre-name">{{movie4}}</p>
            </div>
            <div class="demo__card__btm">
              <p class="demo__card__we">{{id4}}</p>
            </div>
            <div class="demo__card__choice m--reject"></div>
            <div class="demo__card__choice m--like"></div>
            <div class="demo__card__drag"></div>
          </div>
{{!--  --}}
          <div class="demo__card">
            <div class="demo__card__top lime">
              <div class="card-icon">
                {{!-- <img src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/16995J5R00I431Wzj0UfmgVqVPS.jpg" class="card" alt="army tank"> --}}
                <img src="/img/testImg4.jpg" class="card" alt="army tank">
              </div>
              <p class="genre-name">{{movie3}}</p>
            </div>
            <div class="demo__card__btm">
              <p class="demo__card__we">{{id3}}</p>
            </div>
            <div class="demo__card__choice m--reject"></div>
            <div class="demo__card__choice m--like"></div>
            <div class="demo__card__drag"></div>
          </div>
{{!--  --}}
      
          <div class="demo__card">
            <div class="demo__card__top lime">
              <div class="card-icon">
                {{!-- <img src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/16995J5R00I431Wzj0UfmgVqVPS.jpg" class="card" alt="army tank"> --}}
                <img src="/img/testImg3.jpg" class="card" alt="army tank">
              </div>
              <p class="genre-name">{{movie2}}</p>
            </div>
            <div class="demo__card__btm">
              <p class="demo__card__we">{{id2}}</p>
            </div>
            <div class="demo__card__choice m--reject"></div>
            <div class="demo__card__choice m--like"></div>
            <div class="demo__card__drag"></div>
          </div>
{{!--  --}}
          <div class="demo__card">
            <div class="demo__card__top lime">
              <div class="card-icon">
                {{!-- <img src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/16995J5R00I431Wzj0UfmgVqVPS.jpg" class="card" alt="army tank"> --}}
                <img src="/img/testImg2.jpg" class="card" alt="army tank">
              </div>
              <p class="genre-name">{{movie1}}</p>
            </div>
            <div class="demo__card__btm">
              <p class="demo__card__we">{{id1}}</p>
            </div>
            <div class="demo__card__choice m--reject"></div>
            <div class="demo__card__choice m--like"></div>
            <div class="demo__card__drag"></div>
          </div>
{{!--  --}}
          <div class="demo__card">
            <div class="demo__card__top lime">
              <div class="card-icon">
                {{!-- <img src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/16995J5R00I431Wzj0UfmgVqVPS.jpg" class="card" alt="army tank"> --}}
                <img src="/img/testImg.jpg" class="card" alt="army tank">
              </div>
              <p class="genre-name">{{movie0}}</p>
            </div>
            <div class="demo__card__btm">
              <p class="demo__card__we">{{id0}}</p>
            </div>
            <div class="demo__card__choice m--reject"></div>
            <div class="demo__card__choice m--like"></div>
            <div class="demo__card__drag"></div>
          </div>
{{!--  --}}
        </div>
        <p class="demo__tip">Swipe left or right</p>
      </div>
    </div>
    {{!-- end demo cards --}}

    <div id="result"></div>
    <div id="moreResults"></div>

  </div>
</div>

  {{!-- <script src="/js/cards.js"></script> --}}